.d-flex {
  display: flex;
}

.d-in-flex {
  display: inline-flex;
}

.d-flex-1 {
  display: flex;
  flex: 1 1 auto;
}

.d-flex-0 {
  display: flex;
  flex: 0 1 auto;
}

.d-flex-1-0 {
  display: flex;
  flex: 1 0 auto;
}

.d-flex-0-0 {
  display: flex;
  flex: 0 0 auto;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}