@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap?css');

@weight-bold: 900;
@weight-bolder: 700;
@weight-medium: 500;
@weight-normal: 400;
@weight-thin: 300;
@weight-light: 100;

.generateSize() {
  @fonts: {
    headline: 1.5rem, normal;
    title: 1.25rem, .0125em;
    subtitle:  1rem, .009375em;
    body: 0.875rem, .0178571429em;
    caption: 0.75rem, .0333333333em;
    button:  0.875rem, .0892857143em;
  }

  each(@fonts, .(@font, @name) {
    &-@{name} {
      font-size: extract(@font, 1);
      letter-spacing: extract(@font, 2);
      font-weight: @weight-normal;
    }
  })
}

.generateWeight() {
  @font-weights: {
    bold: @weight-bold;
    bolder: @weight-bolder;
    medium: @weight-medium;
    normal: @weight-normal;
    thin: @weight-thin;
    light: @weight-light;
  }

  each(@font-weights, .(@weight, @name) {
    &-weight-@{name} {
      font-weight: @weight;
    }
  })
}

.font {
  .generateSize();
  .generateWeight();
}

.unselectable {
  user-select: none;
}

.underline-none {
  text-decoration: none;
}
