each(range(4, 36, 4), {
    .ma-@{index} {
        margin: ~"@{value}px";
    }

    .ml-@{index} {
        margin-left: ~"@{value}px";
    }

    .mr-@{index} {
        margin-right: ~"@{value}px";
    }

    .mt-@{index} {
        margin-top: ~"@{value}px";
    }

    .mb-@{index} {
        margin-bottom: ~"@{value}px";
    }

    .mx-@{index} {
      margin-left: ~"@{value}px";
      margin-right: ~"@{value}px";
    }

    .my-@{index} {
      margin-top: ~"@{value}px";
      margin-bottom: ~"@{value}px";
    }

    .pa-@{index} {
        padding: ~"@{value}px";
    }

    .pl-@{index} {
        padding-left: ~"@{value}px";
    }

    .pr-@{index} {
        padding-right: ~"@{value}px";
    }

    .pt-@{index} {
        padding-top: ~"@{value}px";
    }

    .pb-@{index} {
      padding-bottom: ~"@{value}px";
    }

    .px-@{index} {
      padding-left: ~"@{value}px";
      padding-right: ~"@{value}px";
    }

    .py-@{index} {
      padding-top: ~"@{value}px";
      padding-bottom: ~"@{value}px";
    }
}
);
