<template>
  <form class="login-wrapper d-grid" @submit.prevent="signIn">
    <o-text-field id="login" placeholder="login"
                  v-model="payloadUser.login" :has-errors="v$.login.$error"
                  :errors="v$.login.$errors.map((e)=>e.$message)"></o-text-field>
    <o-text-field id="password" type="password" placeholder="password"
                  v-model="payloadUser.password" :has-errors="v$.password.$error"
                  :errors="v$.password.$errors.map((e)=>e.$message)"></o-text-field>
    <o-button id="id-btn-submit" class="justify-self-center" large type="submit"
              :disabled="isLoading" :loading="isLoading" width="100px">
      <span class="mx-5">Submit</span>
    </o-button>
  </form>
</template>

<script setup lang="ts">
import OButton from "@/components/o-button.vue";
import OTextField from "@/components/o-text-field.vue";
import {useRouter} from "vue-router";
import {PayloadSignIn, useUserStore} from "@/store/user";
import {ref} from "vue";
import {required, alphaNum} from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";

const title = "Login";
defineExpose({
    title
})

const router = useRouter();
const userStore = useUserStore();
const {signInEntry} = userStore;

const payloadUser = ref<PayloadSignIn>({
    login: "",
    password: ""
});

const payloadUserRules = {
    login: {required, alphaNum},
    password: {required},
};

const v$ = useVuelidate(payloadUserRules, payloadUser, {$autoDirty: true})

const isLoading = ref<boolean>(false);
const signIn = async (): Promise<void> => {
    try {
        if (!await v$.value.$validate()) return;
        isLoading.value = true;
        await signInEntry(payloadUser.value);
        await router.push({name: "success"});
    } catch (ex) {
        console.log(ex);
    }
    isLoading.value = false;
};

</script>

<style>
.login-wrapper {
    grid-gap: 23px;
}
</style>
