<template>
  <div class="d-flex-0 flex-column align-center">
    <svg aria-hidden="true" width="128px" height="128px">
      <use xlink:href="#check"></use>
    </svg>
    <o-button @click="toWelcome" large width="144px">
      <span class="mx-5">Close ({{ seconds }} sec)</span>
    </o-button>
  </div>
</template>

<script setup lang="ts">
import OButton from "@/components/o-button.vue"
import {useRouter} from "vue-router";
import {useTimer} from "@/core/timer"

const title = "Success";
defineExpose({
    title
})
const router = useRouter();

const toWelcome = (): void => {
    router.push({name: 'welcome'});
}

const {seconds} = useTimer(10, toWelcome);
</script>

<style>

</style>
