<template>
  <div class="d-flex-1 flex-column">
    <div v-if="isAuthenticated && !showModal" class="d-flex-1 welcome-title align-center justify-center">
      Здравствуй, {{ getLogin }}
    </div>
    <router-link v-else to="login" custom v-slot="{ navigate, href }">
      <o-button id="id-btn-open-login" class="align-self-start ma-6" large :href="href" @click="navigate">
        <span class="mx-4">Открыть окно входа </span>
      </o-button>
    </router-link>
    <teleport to="body">
      <transition name="modal-fade">
      <o-modal :show="showModal" @close="closeModal" :title="title" min-height="252px" width="350px">
        <router-view class="ma-6" v-slot="{ Component }">
          <component ref="currentChild" :is="Component"/>
        </router-view>
      </o-modal>
      </transition>
    </teleport>
  </div>
</template>

<script setup lang="ts">
import OButton from "@/components/o-button.vue";
import OModal from "@/components/o-modal.vue"
import {computed, ref, watch} from "vue";
import {RouteMeta, useRoute, useRouter} from "vue-router";
import {useUserStore} from "@/store/user";
import {storeToRefs} from "pinia";

const route = useRoute();
const router = useRouter();

const userStore = useUserStore();
const {isAuthenticated, getLogin} = storeToRefs(userStore);

const showModal = ref<boolean>(false);

watch(() => route.meta, (value: RouteMeta): void => {
    showModal.value = value.isModal ?? false;
}, {immediate: true});

const currentChild = ref<any>(null);
const title = computed<string>(() => currentChild.value?.title ?? "");

const closeModal = (): void => {
    router.push({name: 'welcome'});
};
</script>

<style scoped lang="less">
.welcome-title {
  color: #e5e5ea;
  font-size: 4vw;
  text-align: center;
}
</style>
