<template>
  <button :id="id" :style="`width:${width};`" :class="['o-button d-flex-0', {'o-button--icon': icon},
  {'size--default': !large && !icon}, {'size--large': large}]">
    <div :class="['d-flex-1 align-self-center justify-center unselectable']">
      <slot v-if="!loading"></slot>
      <svg aria-hidden="true" class="spin" width="24px" height="24px" v-else>
        <use xlink:href="#spin"></use>
      </svg>
    </div>
  </button>
</template>

<script setup lang="ts">
defineProps({
    id: String,
    large: {type: Boolean, default: false},
    icon: {type: Boolean, default: false},
    loading: {type: Boolean, default: false},
    width: {type: String, default: "unset"}
});

</script>

<style scoped lang="less">
.o-button {
  outline: none;
  list-style: none;
  border: 0;
  padding: 0;
  background-color: #1c1c1e;
  color: #e5e5ea;
  border-radius: 6px;
  transition: box-shadow 0.2s;

  &:not(.o-button--icon):hover:enabled {
    box-shadow: 1.2px 1.2px 1px #e5e5ea;
  }

  &.size--default {
    height: 24px;
    min-height: 24px;
    min-width: 24px;
  }

  &.size--large {
    height: 42px;
    min-height: 42px;
    min-width: 42px;
  }

  &--icon {
    min-height: 0;
    min-width: 0;
    height: unset;
    width: unset;
    background-color: transparent;
  }
}
</style>