<template>
    <div v-if="show" class="o-modal-mask">
      <div class="o-modal-wrapper">
        <div class="o-modal-container d-flex-0 flex-column" :style="`min-height:${minHeight}; width:${width};`">
          <div class="o-modal-header d-flex-0 justify-between px-2">
            <slot name="header">
              <div class="d-flex-0 align-self-center">{{ title }}</div>
              <o-button icon @click="$emit('close')">
                <svg aria-hidden="true" width="32px" height="32px">
                  <use xlink:href="#square-x"></use>
                </svg>
              </o-button>
            </slot>
          </div>
          <div class="o-modal-body d-flex-1 flex-column justify-center">
            <slot name="default">
              default body
            </slot>
          </div>
        </div>
      </div>
    </div>
</template>

<script setup lang="ts">
import OButton from "@/components/o-button.vue"

defineProps({
    show: {type: Boolean, default: false},
    title: {type: String, default: ""},
    minHeight: {type: String, default: "unset"},
    width: {type: String, default: "unset"}
});

</script>

<style scoped lang="less">
.o-modal {
  &-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }

  &-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  &-container {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
    border-radius: 6px;
    transition: all 0.3s ease;
    color: #e5e5ea;
    background-color: #2c2c2e;
  }

  &-header {
    background-color: rgba(255, 255, 255, 0.03);
  }
}

</style>