<template>
  <div class="text-field d-flex-1 flex-column">
    <div :class="['text-field-container d-flex-1', {'error': hasErrors }]">
      <input class="text-field-input d-flex-1 font-body" :id="`input-${id}`" :key="`input-${id}`"
             :value="modelValue" @input="updateModelValue" v-bind="$attrs">
    </div>
    <label v-if="firstError" class="text-field-error pa-1 font-caption font-weight-thin" :for="`input-${id}`">
      {{ firstError }}
    </label>
  </div>
</template>

<script setup lang="ts">
import {computed} from "vue";

const props = defineProps({
    id: {type: String, required: true},
    modelValue: {type: String},
    label: {type: String},
    errors: {type: Array, default: () => []},
    hasErrors: {type: Boolean, default: false}
});

const firstError = computed((): string => {
    return props.hasErrors && props.errors[0] ? `${props.errors[0]}` : '';
});

const emit = defineEmits<{ (e: 'update:modelValue', value: string): void }>()

const updateModelValue = (event: Event) => {
    const target = <HTMLInputElement>event.target;
    emit('update:modelValue', target.value)
}

</script>
<style lang="less">
.text-field {
  position: relative;

  &-container {
    overflow: hidden;
    border-radius: 6px;

    color: #e5e5ea;
    background-color: #1c1c1e;
    border: 1px solid transparent;

    &:focus-within {
      border: 1px solid #e5e5ea;
    }

    &.error {
      border: 1px solid #ff5252;
    }
  }

  &-error {
    color: #ff5252;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
  }

  &-input {
    padding: 10px 15px;

    border: none;
    outline: none;
    background-color: transparent;
  }
}
</style>
