<template>
  <div class="app-wrapper d-flex-1 flex-column">
    <router-view></router-view>
  </div>
</template>

<script setup lang="ts">
const calculateVh = (): void => {
    document.documentElement.style.setProperty("--vh", `${window.innerHeight * 0.01}px`);
};
calculateVh();
window.addEventListener("resize", calculateVh);
window.addEventListener("orientationchange", calculateVh);
</script>

<style lang="less">

body {
  background-color: #363638;
  overflow-x: hidden;
  touch-action: pan-y;
  min-height: calc(var(--vh) * 100);
}

body:after {
  content: "";
  position: fixed; /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh; /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1; /* needed to keep in the background */
  background: linear-gradient(3.28deg, #363638 9.09%, #242426 47.25%, #242426 55.29%, #363638 92.4%) center center;
  background-size: cover;
}

#app, .app-wrapper {
  min-height: inherit;
  height: inherit;
}
</style>
